// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*, *::before, *::after {
    box-sizing: content-box;
}

.logo {
	background: url('https://cdn.sstatic.net/Sites/stackoverflow/company/img/logos/so/so-logo.svg') no-repeat;
	width:410px;
	height: 100px;
	margin: 0 auto 1.25rem; 
}

.logo-sub {
	position: relative;
	display: inline;
	font-size: 1.5rem;
	font-weight: 600;
	top: 70px;
	left: 250px;
}

.result-list {
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid #f0f0f0;
	list-style-type: none;
}

.result-list:last-child {
	border: 0;
	margin: 0;
}

.date {
	display: block;
	font-size: 0.8rem;
	margin: 10px 0;
	color: #8a8a8a;
}